<section id="header">
  <div class="container">
    <div class="header">
      <!-- Navbar -->
        <nav>
          <div class="container">
            <div class="navbar">
              <div class="logo">
                <a href="#">#freelance</a>
              </div>
              <ul>
                <li>
                  <a href="#">Portfolio</a>
                </li>
                <li>
                  <a href="#">Info</a>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
              </ul>
              <div class="burger">
                <span></span>
              </div>
            </div>
          </div>
        </nav>
    </div>
  </div>
</section>