// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1320;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$primary: #000;
$primaryDark: #000;
$secondary: #fff;
$neutral: #00f;
$neutralDark: #01a;
$neutralLight: #04f;
$white: #ffffff;
$black: #000000;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'white';

// Fonts
$fontMain: 'Montserrat', sans-serif;