// Global CSS-files imports
@import './vars';
@import './global';

// Sections or Pages SCSS-files imports
@import './header';
@import './footer';

// Libs

h1 {
  color: yellow;
  background-color: black;
}

p {
  color: green;
}